@{
    ViewData["Title"] = "Search Page";
}

<div class="text-center">
    <h1 class="display-4">Search Results</h1>
    <p>@ViewBag.SearchResults</p>
</div>

<table id="myTable" class="table table-bordered table-hover">
    <thead>
        <tr>
            <th>AlbumId</th>
            <th>Id</th>
            <th>Title</th>
            <th>Url</th>
            <th>ThumbnailUrl</th>
        </tr>
    </thead>
</table>
